.header{
    display:flex;
    background-color:rgb(46, 167, 215);
    color: white;
    font-size: 1.3vw;
    margin: 0;
    font-weight:900
  }

.links{
    margin-left: 5vw;
    padding-top: 1vw;
    padding-bottom: 1vw;
}

  .header-links{

    padding: 1vw;
    text-decoration: none;
    color: white;
  }
  a.header-links:hover{
    background-color:  rgb(67, 76, 96);
    cursor: pointer;
  }


img{
    max-width: 20vw;
    max-height: auto;
    border-radius: .5vw;
}

.videoContainer{
    display: flex;
    justify-content: center;
}

.details{
    display:flex;
    flex-direction: column;
    margin-left: 5vw;
    margin-top: 1vw;
    max-width: 80vw;
    gap: .5vw;

}

.title{
    font-size: 2.5vw;
    font-weight: 800;
}

.midDetails{
    display:flex;
}

.rightMidDetails{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: 2vw;
}

.bookmarkButtonGroup{
    display:flex;
    gap: 3vw;
    justify-content:space-evenly;
    
}

.bookmarkButton{
    background-color: rgb(22, 23, 25);
    padding: 1vw;
    border-radius: 1vw;
}

i{
    color:rgb(46, 167, 215);
}

.bookmarkButton:hover{
    background-color:  rgb(67, 76, 96);
    cursor: pointer;
}

.date, .runtime{
    color: rgb(186, 186, 186);
    margin-left: .3vw;
}

.lowerDetails{
    display:flex;
    flex-direction:column;
    background-color: rgb(22, 23, 25);
    padding: 1vw;
    border-radius: 1vw;
    gap: 1vw;
}

.summary{
    font-size: 1.25vw;
}

.rating, .boxOffice{
    font-size: 1vw;
}

img.imdbLogo{
    max-width: 7vw;
    max-height: auto;
}

.IMDbLogo{
    font-weight: 600;
    font-size: 2vw;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: black;
    padding-left: .5vw;
    padding-right:.5vw;
    background-color: rgb(245, 197, 24);
    max-width: 4vw;
    width: 4vw;
    border-radius: .5vh;
}

.IMDbLogo:hover{
    background-color: rgb(255, 240, 186);

    cursor: pointer;
}